
@{
    ViewBag.Title = "Home";
}

<div class="section section-flat-search container container-palette bg-mask">
    <div class="container">

        <div class="body">

            <div class="title">Get New Job. <b>Right Now.</b></div>
            <!-- ./ top search title -->
            <div class="job-form">
                <form action="#" class="flex-row">
                    <div class="form-group"> <label style="color:cornsilk;" for="tops_keywords" class="control-label text-color-secondary">Search for your desired job</label> <input name="keywords" id="tops_keywords" type="text" class="form-control" placeholder="Keywords" /> </div>

                    <a href="#" class="btn btn-flat-search">Search</a>
                </form>
            </div>
            <div class="flat-search-notification"><b>Welcome to our job portal Executive Search Worldwide (ESW)</b></div>
        </div>
        <!-- ./ top search body -->
    </div>
</div>
<!-- ./ top search -->
<div class="section our-works container container-palette">
    <div class="container">
        <h2 class="section-title">Introduction</h2>
        @*<div class="container-fluid"*@
        <div class="section-advice"> <center>Welcome to one of the Pakistan’s finest and most innovative Human Capital Consultants. Executive Search Worldwide (ESW) is a global network of HR services, working for the provision of innovative, customized and integrated Human Capital solutions to our clients. Our focus is to maximize our clients’ organizational efficiency and effectiveness through alignment of their HR Management and initiatives with the organizational long term strategic vision and goals.</center></div>
        <br />
        <br />
        <br />
        <!-- ./ section title -->
        <div class="flex-grid content-grid">
            <div class="card grid-3">
                <div class="pic"><i class="icon_star"></i></div>
                <h3 class="title">Why ESW</h3>
                <div class="caption">Our global reach, diversity of talent pool and vast experience provide us with a cutting edge to serve our clients more effectively and efficiently.</div>
            </div>
            <div class="card grid-3">
                <div class="pic"><i class="icon_ribbon_alt"></i></div>
                <h3 class="title">Our Focus</h3>
                <div class="caption">Executive Search Worldwide (ESW) Focus is to act as a dedicated partner to its clients in meeting and managing their HR challenges.</div>
            </div>

        </div>
        <!-- ./ content -->
    </div>
</div>
<!-- ./ our works -->
<div class="section section-advice container container-palette bg-mask-light">
    <div class="container advice-container">
        <div class="body">
            <h2 class="title">Create Profile That Works</h2>
            <!-- ./ section title -->
            <p class="description">Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam aliquam augue vitae nisi faucibus, utricies mtus accumsan. Broder eletum diam sit amet opus vulputate. Praesent fermentum, felis sit amet lobortis euismod, massa leo efficitur tortor, at lacinia mi orci eu purus.</p>
            <div class="advice-footer"> <a href="#" class="btn btn-default">Get Advice</a> </div>
        </div>
    </div>
</div>
<!-- ./ advice -->
<div class="section section-listings container container-palette section-job-area">
    <div class="container">
        <h2 class="section-title">Latest Jobs in Your Area</h2>
        <!-- ./ section title -->
        <div class="wraper-row">
            <div class="column-content">
                <div class="results-list">
                    <div class="item">
                        <div class="flex-row">
                            <div class="grid-content">
                                <h3 class="title text-color-secondary"><a href="#" #">Sales Regional Head</a></h3>
                                <div class="options">  <span class="opt-light"><i class="icon_pin_alt"></i>Karachi, Pakistan</span>  </div>
                            </div>
                            <div class="grid-side"><span class="item-label text-red"><i class="icon_ribbon_alt"></i>Full Time</span></div>
                        </div>
                    </div>
                    <!-- ./ job purpose -->
                    <div class="item">

                        <div class="flex-row">
                            <div class="grid-content">
                                <h3 class="title text-color-secondary"><a href="#" #">Assistant Consultant</a></h3>
                                <div class="options">  <span class="opt">Gynecology Oncology </span>  <span class="opt-light"><i class="icon_pin_alt"></i>Riyadh, Jeddah, Al Madinah</span>  </div>
                            </div>
                            <div class="grid-side"><span class="item-label text-yellow"><i class="icon_ribbon_alt"></i>Full Time</span></div>
                        </div>
                    </div>
                    <!-- ./ job purpose -->
                    <div class="item">
                        <div class="flex-row">
                            <div class="grid-content">
                                <h3 class="title text-color-secondary"><a href="#">Assistant Manager/Executives </a></h3>
                                <div class="options">  <span class="opt">Digital PR</span>  <span class="option opt-price"><i class="icon_currency"></i>Handsome Salary Package</span>  <span class="opt-light"><i class="icon_pin_alt"></i>Karachi/Islamabad</span>  </div>
                            </div>
                            <div class="grid-side"><span class="item-label text-purple"><i class="icon_ribbon_alt"></i>Part Time</span></div>
                        </div>
                    </div>
                    <!-- ./ job purpose -->
                    <div class="item">
                        <div class="flex-row">
                            <div class="grid-content">
                                <h3 class="title text-color-secondary"><a href="#">Channel Manager</a></h3>
                                <div class="options">  <span class="opt">General Trade</span>  <span class="opt-light"><i class="icon_pin_alt"></i>Karachi</span>  </div>
                            </div>
                            <div class="grid-side"><span class="item-label text-red"><i class="icon_ribbon_alt"></i>Full Time</span></div>
                        </div>
                    </div>
                    <!-- ./ job purpose -->
                </div>
                <!-- ./ jobs list -->
            </div>
            <div class="column-sidebar">
                <div class="alert-item">
                    <div class="badget featured"><i class="icon_star"></i></div>
                    <div class="header">
                        <h2 class="title text-color-secondary">Head QRI</h2>
                    </div>
                    <div class="body">
                        <ul class="options-list">
                            <li class="opt"><i class="icon_ribbon_alt"></i>COO/Director Level</li>
                            <li class="opt"><i class="icon_currency"></i> available upon request</li>
                            <li class="opt-light"><i class="icon_pin_alt"></i>Hattar</li>
                        </ul>
                    </div>
                    <div class="alert-footer"><a href="#" class="btn btn-custom btn-custom-secondary">Apply</a><a href="#" class="btn btn-clear btn-alert-clear text-red"><i class="icon_ribbon_alt"></i>Full Time</a></div>
                </div>
                <!-- ./ job box -->
            </div>
            <!-- ./ sideber of section -->
        </div>
    </div>
</div>
<!-- ./ jobs sections -->
<div class="section banner bg-color-primary container container-palette">
    <div class="container banner-container">
        <div class="banner-body">
            <h2 class="title">Add your resume and let your next job find you.</h2>
            <!-- ./ banner body -->
        </div>
        <div class="banner-navigation"><a href="#" class="btn btn-default">Add Your Resume</a></div>
        <!-- ./ banner link -->
    </div>
</div>
<!-- ./ section banner -->
<div class="section section-reviews container container-palette bg-mask">
    <div class="container">
        <div id="owl-carousel" class="owl-carousel owl-theme owl-reviews-corousel">
            <div class="item">
                <div class="header">
                    <a href="#" class="review-thumbnail">
                        <img src="~/Content/assets/img/pic/home_1/user_1.jpg" alt="" class="rounded-circle" />
                    </a>
                </div>
                <div class="body">
                    Mauris acet tellus tempus pular europa sed felis. Integer efficitur metus elit convas metuslum auctor. Nullam porttitor aliquam dolor, congue lacus tristique asnec.
                </div>
                <div class="footer">
                    <a href="#">
                        Daniel Jones
                    </a>, Amazon Manager
                </div>
                <!-- ./ review -->
            </div>
            <div class="item">
                <div class="header">
                    <a href="#" class="review-thumbnail">
                        <img src="~/Content/assets/img/pic/home_1/user_2.jpg" alt="" class="rounded-circle" />
                    </a>
                </div>
                <div class="body">
                    Mauris acet tellus tempus pular europa sed felis. Integer efficitur metus elit convas metuslum auctor. Nullam porttitor aliquam dolor, congue lacus tristique asnec.
                </div>
                <div class="footer">
                    <a href="#">
                        Daniel Jones
                    </a>, Amazon Manager
                </div>
            </div>
            <!-- ./ review -->
            <div class="item">
                <div class="header">
                    <a href="#" class="review-thumbnail">
                        <img src="~/Content/assets/img/pic/home_1/user_3.jpg" alt="" class="rounded-circle" />
                    </a>
                </div>
                <div class="body">
                    Mauris acet tellus tempus pular europa sed felis. Integer efficitur metus elit convas metuslum auctor. Nullam porttitor aliquam dolor, congue lacus tristique asnec.
                </div>
                <div class="footer">
                    <a href="#">
                        Daniel Jones
                    </a>, Amazon Manager
                </div>
            </div>
            <!-- ./ review -->
        </div>
    </div>
</div>