
@{
    Layout = "~/Views/Shared/MyCustomLayout.cshtml";
    string OrgName = System.Configuration.ConfigurationManager.AppSettings[Shared.Constants.ASK_ORG_NAME];
    string OrgInitials = System.Configuration.ConfigurationManager.AppSettings[Shared.Constants.ASK_ORG_INITIALS];
}

<link rel="stylesheet" href='~/Content/assets/cache/css_staticpages.min.css' />
<div class="saercion section-page-title container container-palette">
    <div class="container">
        <h2 class="title">About Us</h2>
    </div>
</div>
<main class="container container-palette pt-75 m30">
    <div class="container">
        <div class="wraper-row">
            <div class="column-content">
                <div class="box-post-open m15">

                    <div class="header">
                        <h1 class="title"></h1>
                    </div>

                </div>
            </div>
            <div class="body">

                <h5>Company Background  </h5>

                <p>
                    @OrgName (@OrgInitials), is a HR services firm, was established in 2002. Javed Arif, the Chief Executive of the firm, has been a Marketing & Sales practitioner since 1974.His local and International exposure enabled @OrgInitials to become one of the trusted name in Human Capital Management Sector.
                    The firm is committed to the principles which have always been the hallmark of our practice: safeguarding the integrity of a thorough search process, respecting the value and importance of confidentiality, honoring the trust that our clients place in us, treating every prospective candidate with dignity and adhering to the highest ethical standards. We are committed in providing exemplary HR consultancy and executive recruitment services to our clients.
                    The members of the firm have, some more than many years of collective experience in Human Resource Management. The professional staff of the firm has conducted executive and non-executive searches for a diverse corporate and non-profit clientele. Our search history includes engagements for clients in many industrial, service, and non-profit sectors of the economy.
                    The Chief Executive being the owner of the firm is directly responsible for the successful completion of every search. Our strategy is to maintain a smaller cliental to ensure the provision of tailor made and integrated solution with extraordinary flexibility to our clients.
                </p>

                <h5>Our Services</h5>

                <p>Our scope of services encapsulates broad spectrum and array of vast multidisciplinary HR solutions which include but not limited to the following:
                    <ul>
                        <li>Executive search</li>
                        <li>Director Selection</li>
                        <li>HR Policies & Procedures manual & Employees Handbook</li>
                        <li>Payroll Management</li>
                        <li>Psychometric Analysis & Profiling</li>
                        <li>Training & Development</li>
                        <li>Background Check – Primary Source Verification (PSV)</li>
                        <li>Workload analysis (WLA)</li>
                        <li>Employee retention program</li>
                        <li>Employee benefit administration</li>
                        <li>Manpower recruitment services</li>
                    </ul>
                </p>

            </div>
        </div>
        <!-- ./ widget post description -->




    </div>
</main>
