
@{
    /**/

    Layout = "~/Views/Shared/MyCustomLayout.cshtml";
    string OrgName = System.Configuration.ConfigurationManager.AppSettings[Shared.Constants.ASK_ORG_NAME];
    string OrgInitials = System.Configuration.ConfigurationManager.AppSettings[Shared.Constants.ASK_ORG_INITIALS];
}

@if (OrgInitials.Equals("MMI"))
{
    <link rel="stylesheet" href='~/Content/assets/cache/css_staticpages.min.css' />
}
else
{
    <link rel="stylesheet" href='~/Content/assets/cache/ESW_staticpages.css' />
}
<div class="saercion section-page-title container container-palette">
    <div class="container">
        <h2 class="title">Our Services</h2>
    </div>
</div>
<main class="container container-palette pt-75 m30">
    <div class="container">
        <div class="wraper-row">
            <div class="column-content">
                <div class="box-post-open m15">

                    <div class="header">
                        <h1 class="title"></h1>
                    </div>

                </div>
            </div>
            <div class="body">

                <h5>Outsourcing</h5>

                <p>@OrgInitials offers human resource outsourcing services in an efficient and low-cost manner providing the following services to our clients.</p>

                <ul>
                    <li>Analysis of Payroll records, Payroll taxes </li>
                    <li>Medical claim processing</li>
                    <li>Employee Insurance & Provident fund processing</li>
                    <li>Quality Audit procedures & planning</li>
                    <li>Salary Deposit in bank account</li>
                    <li>Monthly Tax compliance and Filing</li>
                    <li>Payroll Updates, Deductions and Advances</li>
                </ul>

                <h5>Training and Development</h5>

                <p>@OrgInitials Conduct focused upper & lower Management Development Programs. We believe in a learning organization, where learning is a continuous process. </p>
                <p>Some of the activities that make Training & Development a continuous process:</p>

                <ul>
                    <li>Communication Skills / Soft Skills trainings</li>
                    <li>Customer Care / Sales and Marketing </li>
                    <li>Work place etiquette / Organizational skills development</li>
                    <li>Personal Development </li>
                    <li>Technical Trainings </li>
                    <li>Project Management </li>
                    <li>Strategic Planning </li>
                    <li>Human Factors Methods, Risk Assessment and Safety Management </li>
                </ul>
                <p>Behavioral Training Programs offered to enhance personal and professional effectiveness of our clients.</p>
                <ul>
                    <li>Customer orientation </li>
                    <li>Team work/team building </li>
                    <li>Communication </li>
                    <li>Self development</li>

                </ul>



            </div>
        </div>
        <!-- ./ widget post description -->




    </div>
</main>
