
@{
    Layout = "~/Views/Shared/MyCustomLayout.cshtml";
    string OrgName = System.Configuration.ConfigurationManager.AppSettings[Shared.Constants.ASK_ORG_NAME];
    string OrgInitials = System.Configuration.ConfigurationManager.AppSettings[Shared.Constants.ASK_ORG_INITIALS];
}

@if (OrgInitials.Equals("MMI"))
{
    <link rel="stylesheet" href='~/Content/assets/cache/css_staticpages.min.css' />
}
else
{
    <link rel="stylesheet" href='~/Content/assets/cache/ESW_staticpages.css' />
}
<div class="saercion section-page-title container container-palette">
    <div class="container">
        <h2 class="title">Software Services</h2>
    </div>
</div>
<main class="container container-palette pt-75 m30">
    <div class="container">
        <div class="wraper-row">
            <div class="column-content">
                <div class="box-post-open m15">

                    <div class="header">
                        <h1 class="title"></h1>
                    </div>

                </div>
            </div>
            <div class="body">

                <h5>Software Services </h5>

                <p>@OrgName has emerged itself as a software solution provider in the field of Information Technology with a wider vision for creating superior technology solutions. Its adherence with the International Technological solutions is strictly in accordance with the needs and demands of an evolving global enterprise. Our services portfolio includes comprehensive Outsourcing, Infrastructure & Software Solutions. @OrgInitials is a customer focused software house in delivering high quality added software solutions within a short time frame. @OrgInitials has a long list of successfully delivered software solutions for several clients in diversified business domains. @OrgInitials is deeply engaged with modern and advanced concepts in IT industry to help its customers (businessmen and entrepreneurs) by providing value added software. @OrgInitials performs thorough research on each given problem and advises its customers on how their business growth aims can be achieved by the implementation of a specific and research-based software solution.</p>

                <h5>Our Team</h5>

                <p>The strength of @OrgInitials is our ideal and dedicated team which comprises of qualified professionals, business professionals with analytical expertise, and professional business experience.</p>

                <h5> What makes us unique? </h5>

                <p> Our reach and experience enables us to serve our clients more efficiently. We offer the right balance of a global approach based on our knowledge of best practices with a thorough understanding of the local framework and culture. Along with a proficient team of experts @OrgName assures you of optimal response and flexibility in our services.</p>

                <h5>Our Services</h5>
                <p>
                    @OrgInitials is providing comprehensive services in the following domains for leading companies.

                    <ul>
                        <li>All type of business Solutions</li>
                        <li>Custom Software development</li>
                        <li>Database Management</li>
                        <li>Client Server Applications</li>
                    </ul>

                    We provide best resource solutions to customized requirement and according to our client requirement
                </p>


                <h5> Technical Expertise </h5>

                <p>
                    @OrgInitials has worked with clients locally as well as wide variety of Platforms:
                </p>


                


                <ul> <li> <h6> Databases </h6> </li> </ul>



                <ul>
                    <li>
                        <h6> Programming Languages </h6>
                      
                    </li>
                </ul>


                <ul> <li> <h6> Technologies </h6>
                 </li> </ul>


                <ul> <li> <h6> Development Tools </h6> </li> </ul>


                <ul> <li> <h6> Reports </h6> </li> </ul>


                <ul> <li> <h6> Graphics </h6> </li> </ul>





            </div>
        </div>
        <!-- ./ widget post description -->




    </div>
</main>
